.top{
    border: 2px solid;
    background-color: orange;
    height: auto;
    width: auto;
    text-align: center;
}
.text_box{
    width: 500px;
    box-sizing: border-box;

}
.outer_box :hover{
    padding-top: 25px;
    padding-bottom: 25px;
    margin: 10px;
    background-color: rgba(118, 117, 117, 0.744);
}
.outer_box :not(:hover){
    padding-top: 25px;
    padding-bottom: 25px;
    margin:10px;
    background-color: #EEEEEE;
}
.boxes{
    border:2px solid;
    background-color: orange;
    width: 50%;
    float: left;
    box-sizing: border-box;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;

}
.inner_box :not(:hover){
    background-color: #373A40;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 150px;
    text-align: center;
    color:#9ca5b5;
    left: 50px;
    box-sizing: border-box;



}
.inner_box :hover{
    background-color: #686D76;
    display: inline-block;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    width: 150px;
    color: #373A40;
    left: 50px;

}



.container{
    background-color: brown;
    height: 100vh;
}

p{
    float: left;
}

#hehe{
    background-color: yellow;
}

#hehe:hover{
    display: None;
}

body{
    background-color: #EEEEEE;
    margin: 15px;
    /*
    background-image: url(image/fuckyou.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size:cover;
    */
}
.proj{
    background-color: blue;
    border: 2px solid;
    height: auto;
    max-width: 45%;
    min-width: 20%;
    float: left;
}